################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/architecture/web-protocols/graphql/GraphQLDemo/GraphQLDemo.API/firebase-config.json
